Functional Requirements

The software shall store up to 6000 volunteers information in the volunteer database.

The software shall provide a means for the user to view their assignment, hours scheduled, and total hours spent volunteering.

The software shall allow admins to check volunteers in.

The software shall allow admins to upload excel sheets and store the information into the volunteer database.

The software shall prove a means for admins to generate reports on the week's volunteer information.

The software shall allow admins to edit volunteer information.

The software shall prove a means for admins to view where current volunteers are assigned.
