.admin-App {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: .9em;
}

.column {
  flex-direction: column;
  flex: 1;
}

.adminHome-style {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.adminHome-box {
  border-radius: 8px;
  width: 75%;
  height: calc(90%);
  padding: 5px;
  font-size: large;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: white;
}

.adminHome-text {
  padding-left: 1em;
  padding-right: .1em;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 0 0 100%;
  }
}