.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.column {
  flex-direction: column;
  flex: 1;
}

.adminHome-box {
  background-color: rgb(229, 226, 226);
  border-radius: 8px;
  width: 75%;
  height: calc(90%);
  padding: 5px;
  font-size: large;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.adminHome-text {
  padding-left: 1em;
  text-align: left;
}