.App {
    text-align: center;
  }
  
.main-img {
    width: 40%;
    height: 20%;
    padding-top: 5%;
}

.main-input {
    display: block;
    margin: auto;
    margin-bottom: 1.3em;
}

.main-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-button-box {
  background: green;  
  color: white;
  padding: 14px 22px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.main-button-box:hover {
  background: darkgreen;
}


.main-input-box {
  height: 3em;
  width: 28em;
  font-size: large;
  border-radius: 10px;
  border: 1.5px solid black; 
  padding-left: 8px;
}

@media screen and (max-width: 500px) {
  .main-input-box {
    height: 1.8em;
    width: 15em;
    font-size: large;
    border-radius: 10px;
    padding-left: 8px;
  }
}
