.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.navbar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: green;
  justify-content:flex-end;
  padding-right: 4em;
}

.navbar-text{
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.navbar-text:hover{
  color: lightgray;
}

