.navbar-body {
  height: 80px;
  background-color: #007052;
  z-index:999;
}

.navbar-image {
    width: 50px;
    height: 50px;
}

.navbar-input {
  height: 2em;
  width: 20em;
  font-size: medium;
  border-radius: 10px;
  border: 1.5px solid black; 
  margin-left: 1em;
}

.navbar-container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-dynammicButton {
  display: none;
}

.navbar-wrapper-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar-wrapper-text {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 3rem;
  position: relative; 
}

.navbar-wrapper-text:hover {
  color: lightgray;
}

.navbar-wrapper-text::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: lightgray;
  display:block;
  position: absolute;
  left: 0;
  bottom: -23px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.navbar-wrapper-text:hover::after{
  opacity: 1;
}


@media (max-width: 1200px) {
  .navbar-wrapper-text {
    font-size: 1.1rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1000px) {
  .navbar-wrapper-text {
    font-size: 1rem;
    margin-right: 1.25rem;
  }
}

@media (max-width: 900px) {
  .navbar-wrapper-text {
    font-size: .9rem;
    margin-right: .9rem;
  }
}

@media (max-width: 850px) {
  .navbar-dynammicButton {
    display: block;
    cursor: pointer;
  }

  .navbar-wrapper {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #007052;
    width: 0px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 999;
  }

  .navbar-wrapper.displayed {
    width: 40%;
  }

  .navbar-wrapper-list {
    display: block;
    flex-direction: column;
  }
  .navbar-wrapper-text {
    padding: 1rem;
    font-size: 1.5rem;
    display: table;
  }

  .navbar-wrapper-text::after {
    height: 3px;
    width: 100%;
    bottom: -2.5px;
  }
}