
.profile-text {
    padding-left: 1em;
    padding-right: .1em;
    text-align: left;
}

.profile-name-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-icons {
    cursor: pointer;
    font-size: larger;
    display:flex;
    justify-content: right;
    padding: 0;
}

.profile-icons-caret {
    cursor: pointer;
    padding: 0;
}

.profile-icons-caret-hover {
    color: gray;
}


.profile-icons-element {
    margin-right: 1em;
    padding: 0;
}

.profile-icons-element:hover {
    color: gray;
}

.profile-style {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.profile-statBox {
    background-color: white;
    border-radius: 8px;
    width: 45%;
    padding: 5px;
    font-size: large;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }

  .profiles-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .profiles-modal-box {
    background:white;
    padding: 20px;
    width: 30em;
    border-radius: 8px;
    z-index: 101;
  }

  .profile-button {
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  
  .profile-button-box {
    background: #007052;
    color: white;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 1em;
  }
  
  .profile-button-box:hover {
    background: #01503b;
  }

  .profile-button-box-delete {
    background: red;
    color: white;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 1em;
  }
  
  .profile-button-box-delete:hover {
    background: darkred;
  }