
.profile-text {
    padding-left: 1em;
    padding-right: .1em;
    text-align: left;
}

.profile-name-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-icons {
    cursor: pointer;
    font-size: larger;
    display:flex;
    justify-content: right;
    padding: 0;
}

.profile-icons-caret {
    cursor: pointer;
    padding: 0;
}

.profile-icons-caret-hover {
    color: gray;
}


.profile-icons-element {
    margin-right: 1em;
    padding: 0;
}

.profile-icons-element:hover {
    color: gray;
}

.profile-style {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.profile-statBox {
    background-color: white;
    border-radius: 8px;
    width: 45%;
    padding: 5px;
    font-size: large;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }